{% extends 'layout.twig' %}

{% block content %}

{% include 'header.twig'%}


	<div class="all-screen" id="src_pg">
		<i class="fas fa-chevron-left back_ic search_ic phone"></i>
		<h4>RECHERCHER<label for="cp_selec" class="float-right">ID</label></h4>
		<form id="search_f" method="POST" action="">
			<div class="form-group d-flex">
				<input class="form-control search" type="text" name="search2" placeholder="Indiquez le nom de l'entreprise">
				<input class="form-control" type="text" name="in_search" id="search_ID" placeholder="Indiquez l'ID de l'entreprise">
			</div>
			<section id="check_zone" class="form-group">
				<div class="custom-control custom-radio">
					<input class="custom-control-input" value="opt4" id="option_4" type="radio" name="opt">
					<label class="custom-control-label" for="option_4"><strong>Personalisé</strong></label>
				</div>
			</section>

			<div class="form-group extra-s">
				<div>
					<label class="titre_selec" for="act_selec">Secteur d'activite</label>
				</div>
				<div class="d-flex">
					<input type="text" name="sect_act" list="data-act-sel" class="form-control selec search" id="act_selec" placeholder="Indiquez le secteur d'activite de l'entreprise">
					<datalist id="data-act-sel"></datalist>             
				</div>

			</div>

			<input type="submit" class="btn_e" value="Rechercher">
			<input type="reset" class="float-right btn_e" id="reset_btn" value="Réinitialiser">
		</form>
	</div>

	<section class="sect-div">
		<h5 id="titre_show">Entreprises</h5>
		<div class="disp_offre">
		{% for entreprise in entreprises%}
			<article id="offre_stage" class="nvloffre" onclick="window.location.href = 'connexion.html';">
				<h6  id="titre_offre">{{entreprise['Nom'] }}</h6>
				<p>Identifiant : {{entreprise['id'] }}</p>
				<p>secteur d'activite : {{entreprise['Secteur_activite'] }}</p>
				<p>Localite : {{entreprise['Localite'] }}</p>
				<p>Email : {{entreprise['Email'] }}</p>
				<p>Nombre d'etudiant : {{entreprise['Nombre_etudiants'] }} etudiant(s) </p>
			</article>
		{% endfor %}

		</div>
	</section>

{% endblock %}