{% extends 'layout.twig' %}

{% import 'form.twig' as form %}

{% block content %}

<section>
	<h5>Gestion</h5>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="utilisateur-tab" data-toggle="tab" href="#utilisateur" role="tab" aria-controls="utilisateur" aria-selected="true">Utilisateurs</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Offres</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="entreprise-tab" data-toggle="tab" href="#entreprise" role="tab" aria-controls="entreprise" aria-selected="false">Entreprises</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="utilisateur" role="tabpanel" aria-labelledby="utilisateur-tab">
			<form id="bloc-utilisateur" class="container" method="POST">

				{{ form.radiobox('user',["Creation", "Suppression", "Modification", "Autre"], ["crea", "supp", "modif", "autre"])}}

				<section id="input-bloc-utilsateur">
					<div class="row">

						{{ form.input('input_id',"ID")}}

						{{ form.input('input_last',"Nom")}}

						{{ form.input('input_firstn',"Prénom")}}

						{{ form.select('promotion_selec',"Promotion", ["A1","A2","A3","A4","A5"])}}

					</div>

					<div class="row">

						{{ form.input('input_centre',"Centre")}}

						{{ form.select('role_selec',"Role", ["Étudiant","Délégué","Tuteur","Administrateur"], "Personnaliser les droits (délégués)")}}
					</div>


					<div class="form-group">
						<label for="input_email">Adresse email</label>
						<input type="email" class="form-control" id="input_email" placeholder="nom@example.com" value="test@mail.com" name="email" required>
					</div>

					<div class="form-group">
						<label for="input_mdp">Mot de passe</label>
						<input type="password" class="form-control" id="input_mdp" placeholder="8 charactères minimum" pattern=".{8,30}" name="mdp" required>
						<div class="d-flex justify-content-center align-items-center p-1">
							<label for="mdp_rng">Taille</label>
							<input type="range" class="ml-2 mr-2" id="mdp_rng" value ="8" max="30" min="8" step="1" required>
							<input type="number" id="input_size" value="8" style="width:30px;">
						</div>
						<div class="d-flex justify-content-center">
							<i class="fas fa-eye-slash m-3" id="hide_mdp"> Cacher</i>
							<i class="fas fa-eye m-3" id="show_mdp" style="display:none;"> Afficher</i>
							<i class="fas fa-sync-alt m-3" onclick="$('#input_mdp').val(generate($('#mdp_rng').val())).attr('type','text');$('#hide_mdp').show();$('#show_mdp').hide();"> Générer</i>
						</div>

					</div>
		
					<hr />

					<button type="reset" class="btn btn-outline-secondary m-2">Réinitialiser</button>
					<button type="submit" class="btn btn-primary float-right m-2">Valider</button>
				</section>


			</form>
		</div>

		<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
			<form id="bloc_offre" class="container">

				{{ form.radiobox('offre' ,["Creation", "Suppression", "Modification", "Autre"], ["crea", "supp", "modif", "autre"])}}

				<section id="input-bloc-offre">
					<div class="row">
						{{ form.input('input_entreprise',"Entreprise")}}

						{{ form.select('promotion_selec_o',"Promotion", ["A1","A2","A3","A4","A5"])}}


						<div class="form-group col-lg col-md">
							<p class="mb-2">Places</p>
							<div class="d-flex align-items-center">
								<label for="input_placetot">Total:</label>
								<input type="number" class="form-control w-25 m-3" id="input_placetot" pattern=".{1,}" name="p_tot" required>
								<label for="input_placerest">Restant:</label>
								<input type="number" class="form-control w-25 m-3" id="input_placerest" pattern=".{1,}" name="p_left" required>
							</div>			
						</div>
					</div>

					<div class="row">
						{{ form.input('input_datestart',"Date de début de stage", "date")}}
						
						{{ form.input('duree_rng',"Durée","range")}}

						{{ form.input('input_competences',"Compétences requises (description ?)")}}


						<div class="form-group col-lg col-md">
							<label for="input_gratif">Gratification</label>
							<div class="input-group-append">
								<input type="number" class="form-control" id="input_gratif" name="gratif" aria-label="Euro, avec séparation par virgule">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</div>
					<hr/>

					<button type="reset" class="btn btn-outline-secondary m-2">Réinitialiser</button>
					<button type="submit" class="btn btn-primary float-right m-2">Valider</button>
				</section>

			</form>
		</div>

		<div class="tab-pane fade" id="entreprise" role="tabpanel" aria-labelledby="entreprise-tab">
			<form id="bloc_entreprise" class="container">

				{{ form.radiobox('entreprise',["Creation", "Suppression", "Modification", "Autre"], ["crea", "supp", "modif", "autre"])}}

				<section id="input-bloc-entreprise">
					<div class="row">
						{{ form.input('input_nom_e',"Nom")}}

						{{ form.input('input_sect_e',"Secteur d'activité")}}

						{{ form.input('input_localisation',"Localisation")}}

						{{ form.input('input_acceptes',"Nombre d'étudiants déjà acceptés")}}

						{{ form.input('input_conf',"Confiance")}}

					</div>
					<hr/>
					<button type="reset" class="btn btn-outline-secondary m-2">Réinitialiser</button>
					<button type="submit" class="btn btn-primary float-right m-2">Valider</button>
				</section>


			</form>
		</div>
	</div>
</section>

{% endblock %}