{% extends 'layout.twig' %}

{% import 'articles.twig' as art %}

{% block content %}


{% include	'header.twig'%}

	<!--Partie principale, avec les dernières nouveautés et la wish-list-->

<div class="toast" style="position: absolute; top: 0; right: 0;margin : 2rem;">
	<div class="toast-header">
		<i class="fas fa-pen-square rounded mr-2" style="color:blue"></i>
		<strong class="mr-auto">Ajout</strong>
		<small>Il y a quelques instants</small>
		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" onclick="$('.toast').css('opacity','0');">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="toast-body" id="body_info">
	</div>
</div>

<!--Nouveaux stages-->
<section class="sect-div">
	<h5>Dernières offres de stage</h5>
	<div class="disp_offre">

<!--{#
		{{ art.article("nvloffre", '/', 'Stage PARIS',"Domaine : Informatique	Promotion : BAC+2	Dates :X/X/X - X/X/X", "Gestion d'une BDD reliée à des API")}}  #}-->

	{% for item in contenuoffres %}
		<article class="nvloffre">
			<h6>{{ item['Titre'] }}<i class="far fa-bookmark not_wish float-right m-1"  id="id_{{item['id']}}"></i></h6>
			<p>Identifiant : {{ item['id'] }}</p>
			<p>Competences : {{ item['Competence'] }} | Promotion : {{ item['Type_promo']}} |  Dates : {{ item['Date_offre'] }}</p>
			<p>Stage de {{ item['Duree'] }} pour {{ item['Nombre_places']}} étudiant(s) à {{ item['Entreprise'] }}</p>
			<p>Rémunéré à {{ item['Remuneration'] }} €/mois<i class="fas fa-file-alt float-right not_cand" id="idcand_{{item['id']}}" style="font-size:1.3rem;"></i></p>
		</article>
	{% endfor %}
	</div>

</section>


<!--La WISH-LIST-->
<section class="sect-div">
	<hr class="phone" style="background:white">
	<h5>WISH-LIST <i class="far fa-bookmark float-right"></i></h5>
	<div id="wlist" class="disp_offre">

	{% for item in contenuwish %}
		<article class="nvloffre">
			<h6>{{ item['Titre'] }}<i class="fas fa-trash-alt float-right in_wish m-2" id="trash_{{ item['id'] }}"></i></h6>
			<p>Identifiant : {{ item['id'] }}</p>
			<p>Competences : {{ item['Competence'] }} | Promotion : {{ item['Type_promo']}} |  Dates : {{ item['Date_offre'] }}</p>
			<p>Stage de {{ item['Duree'] }} pour {{ item['Nombre_places']}} étudiant(s) à {{ item['Entreprise'] }}</p>
			<p>Rémunéré à {{ item['Remuneration'] }} €/mois<i class="fas fa-file-alt float-right not_cand" id="idcand_{{item['id']}}" style="font-size:1.3rem;"></i></p>
		</article>

	{% endfor %}
	
	</div>
</section>

{% endblock %}