{% extends 'layout.twig' %}

{% block content %}

{% include 'header.twig'%}


	<div class="all-screen" id="src_pg">
		<i class="fas fa-chevron-left back_ic search_ic phone"></i>
		<h4>RECHERCHER<label for="cp_selec" class="float-right">ID</label></h4>
		<form id="search_f" method="POST" action="">
			<div class="d-flex form-group">
				<input class="form-control search" type="text" name="in_search" id="search_bar" placeholder="Indiquez un titre d'offre à rechercher">
				<input class="form-control" type="text" name="Search_id" id="search_ID" placeholder="Indiquez l'ID de l'offre">
			</div>
			<section id="check_zone" class="form-group">
				<div class="custom-control custom-radio">
					<input class="custom-control-input" value="opt4" id="option_4" type="radio" name="opt">
					<label class="custom-control-label" for="option_4"><strong>Personaliser</strong></label>
				</div>
			</section>

			<div class="form-group extra-s">
				<label class="titre_selec" for="promotion_selec">Promotion</label>
				<select class="form-control selec" name="promo_selec" id="promotion_selec">
					<option></option>
					<option>A1</option>
					<option>A2</option>
					<option>A3</option>
					<option>A4</option>
					<option>A5</option>
				</select>
			</div>

			<section id="check_duree" class="form-group extra-s">
				<p class="titre_selec">Duree</p>
				<div id="duree_style">
					<div class="form-check form-check-inline">
						<input class="form-check-input" value="10 semaines" id="optiond_1" type="checkbox" name="opt2">
						<label class="form-check-label" for="optiond_1">10 semaines</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" value="15 semaines" id="optiond_2" type="checkbox" name="opt2">
						<label class="form-check-label" for="optiond_2">15 semaines</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" value="16 semaines" id="optiond_3" type="checkbox" name="opt2">
						<label class="form-check-label" for="optiond_3">16 semaines</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" value="24 semaines" id="optiond_4" type="checkbox" name="opt2">
						<label class="form-check-label" for="optiond_4">24 semaines</label>
					</div>
				</div>
			</section>

			<input type="submit" class="btn_e" value="Rechercher">
			<input type="reset" class="float-right btn_e" id="reset_btn" value="Réinitialiser">
		</form>
	</div>

	<section class="sect-div">
		<h5 id="titre_show">Offres</h5>
		<div class="disp_offre">

			{% for offre in offres %}
				<article id="offre_stage" class="nvloffre" onclick="window.location.href = 'connexion.html';">
					<h6  id="titre_offre">{{offre['Titre'] }}</h6>
					<p>Identifiant : {{offre['id'] }}</p>
					<p>Competence : {{offre['Competence'] }}</p>
					<p>promotion : {{offre['Promo'] }}</p>
					<p>Duree : {{offre['Duree'] }}</p>
					<p>Remuneration : {{offre['Remuneration'] }} $</p>
					<p>Debut du stage : {{offre['Date_offre'] }}</p>
					<p>Place : {{offre['Nombre_place'] }} etudiant(s)</p>
					<p>Entreprise : {{offre['Nom'] }}</p>
				</article>
			{% endfor %}

		
		</div>
	</section>

{% endblock %}