{% extends 'layout.twig' %}

{% block content %}

{% include 'header.twig'%}

{% if alert_data[0] %}
	<div class="alert alert-{{ alert_data[0] }}" id="wish_alert" role="alert">
		{{ alert_data[1] }}
	</div>
{% endif %}


	<section class="sect-div">

		<h5>WISH-LIST 
			<i id="search_ic3" class="fas fa-search float-right ordi"></i>
			<i class="far fa-bookmark float-right phone"></i>
			<input class="float-right search_bar2hide ordi" type="text" name="in_search" id="search_bar2" placeholder="Indiquez un stage à rechercher">
		</h5>

		<div id="wlist" class="disp_offre">

		{% for item in contenu %}
			<article class="nvloffre">
				<h6>{{ item['Titre'] }}<i class="fas fa-trash-alt float-right in_wish m-2" id="trash_{{ item['id'] }}"></i></h6>
				<p>Identifiant : {{ item['id'] }}</p>
				<p>Competences : {{ item['Competence'] }} | Promotion : {{ item['Type_promo']}} |  Dates : {{ item['Date_offre'] }}</p>
				<p>Stage de {{ item['Duree'] }} mois pour {{ item['Nombre_places']}} étudiant(s) à {{ item['Entreprise'] }}</p>
				<p>Rémunéré à {{ item['Remuneration'] }} €/mois<i class="fas fa-file-alt float-right not_cand" id="idcand_{{item['id']}}" style="font-size:1.3rem;"></i></p>
			</article>

		{% endfor %}



		</div>
	</section>

{% endblock %}